In [1]:
# Setup Java and NLU
import os
! apt-get update -qq > /dev/null   
# Install java
! apt-get install -y openjdk-8-jdk-headless -qq > /dev/null
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]
! java -version
! pip install nlu==2.5rc1 -qq > /dev/null   

import nlu

openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-8u265-b01-0ubuntu2~18.04-b01)
OpenJDK 64-Bit Server VM (build 25.265-b01, mixed mode)

In [ ]:
# any string inside of <> can be apssed to nlu.load()
 nlu.print_all_nlu_components()

Default NLU reference : < lang > of type : pipe  points to :  detect_language_20 Points to Spark NLP reference :  ('detect_language_20', 'pipe')
Default NLU reference : < lang.7 > of type : pipe  points to :  detect_language_7 Points to Spark NLP reference :  ('detect_language_7', 'pipe')
Default NLU reference : < lang.20 > of type : pipe  points to :  detect_language_20 Points to Spark NLP reference :  ('detect_language_20', 'pipe')
Default NLU reference : < classify.lang > of type : pipe  points to :  detect_language_20 Points to Spark NLP reference :  ('detect_language_20', 'pipe')
Default NLU reference : < classify.lang.20 > of type : pipe  points to :  detect_language_20 Points to Spark NLP reference :  ('detect_language_20', 'pipe')
Default NLU reference : < classify.lang.7 > of type : pipe  points to :  detect_language_7 Points to Spark NLP reference :  ('detect_language_7', 'pipe')
Default NLU reference : < classify > of type : pipe  points to :  analyze_sentiment Points to Spark NLP reference :  ('analyze_sentiment', 'pipe')
Default NLU reference : < explain > of type : pipe  points to :  explain_document_ml Points to Spark NLP reference :  ('explain_document_ml', 'pipe')
Default NLU reference : < explain.ml > of type : pipe  points to :  explain_document_ml Points to Spark NLP reference :  ('explain_document_ml', 'pipe')
Default NLU reference : < explain.dl > of type : pipe  points to :  explain_document_dl Points to Spark NLP reference :  ('explain_document_dl', 'pipe')
Default NLU reference : < ner > of type : pipe  points to :  recognize_entities_dl Points to Spark NLP reference :  ('recognize_entities_dl', 'pipe')
Default NLU reference : < ner.dl > of type : pipe  points to :  recognize_entities_dl Points to Spark NLP reference :  ('recognize_entities_dl', 'pipe')
Default NLU reference : < ner.bert > of type : pipe  points to :  recognize_entities_bert Points to Spark NLP reference :  ('recognize_entities_bert', 'pipe')
Default NLU reference : < ner.onto > of type : pipe  points to :  onto_recognize_entities_sm Points to Spark NLP reference :  ('onto_recognize_entities_sm', 'pipe')
Default NLU reference : < ner.onto.sm > of type : pipe  points to :  onto_recognize_entities_sm Points to Spark NLP reference :  ('onto_recognize_entities_sm', 'pipe')
Default NLU reference : < ner.onto.lg > of type : pipe  points to :  onto_recognize_entities_lg Points to Spark NLP reference :  ('onto_recognize_entities_lg', 'pipe')
Default NLU reference : < match.datetime > of type : pipe  points to :  match_datetime Points to Spark NLP reference :  ('match_datetime', 'pipe')
Default NLU reference : < match.text > of type : model  points to :  text_matcher Points to Spark NLP reference :  ('text_matcher', 'model')
Default NLU reference : < match.regex > of type : model  points to :  regex_matcher Points to Spark NLP reference :  ('regex_matcher', 'model')
Default NLU reference : < match.pattern > of type : pipe  points to :  match_pattern Points to Spark NLP reference :  ('match_pattern', 'pipe')
Default NLU reference : < match.chunks > of type : pipe  points to :  match_chunks Points to Spark NLP reference :  ('match_chunks', 'pipe')
Default NLU reference : < match.phrases > of type : pipe  points to :  match_phrases Points to Spark NLP reference :  ('match_phrases', 'pipe')
Default NLU reference : < clean.stop > of type : pipe  points to :  clean_stop Points to Spark NLP reference :  ('clean_stop', 'pipe')
Default NLU reference : < clean.pattern > of type : pipe  points to :  clean_pattern Points to Spark NLP reference :  ('clean_pattern', 'pipe')
Default NLU reference : < clean.slang > of type : pipe  points to :  clean_slang Points to Spark NLP reference :  ('clean_slang', 'pipe')
Default NLU reference : < spell > of type : pipe  points to :  check_spelling Points to Spark NLP reference :  ('check_spelling', 'pipe')
Default NLU reference : < spell.dl > of type : pipe  points to :  check_spelling_dl Points to Spark NLP reference :  ('check_spelling_dl', 'pipe')
Default NLU reference : < sentiment > of type : pipe  points to :  analyze_sentiment Points to Spark NLP reference :  ('analyze_sentiment', 'pipe')
Default NLU reference : < emotion > of type : model  points to :  classifierdl_use_emotion Points to Spark NLP reference :  ('classifierdl_use_emotion', 'model')
Default NLU reference : < sentiment.imdb > of type : pipe  points to :  analyze_sentimentdl_use_imdb Points to Spark NLP reference :  ('analyze_sentimentdl_use_imdb', 'pipe')
Default NLU reference : < sentiment.imdb.use > of type : pipe  points to :  analyze_sentimentdl_use_imdb Points to Spark NLP reference :  ('analyze_sentimentdl_use_imdb', 'pipe')
Default NLU reference : < sentiment.twitter.use > of type : pipe  points to :  analyze_sentimentdl_use_twitter Points to Spark NLP reference :  ('analyze_sentimentdl_use_twitter', 'pipe')
Default NLU reference : < sentiment.twitter > of type : pipe  points to :  analyze_sentimentdl_use_twitter Points to Spark NLP reference :  ('analyze_sentimentdl_use_twitter', 'pipe')
Default NLU reference : < tokenize > of type : model  points to :  spark_nlp_tokenizer Points to Spark NLP reference :  ('spark_nlp_tokenizer', 'model')
Default NLU reference : < stem > of type : model  points to :  stemmer Points to Spark NLP reference :  ('stemmer', 'model')
Default NLU reference : < norm > of type : model  points to :  normalizer Points to Spark NLP reference :  ('normalizer', 'model')
Default NLU reference : < chunk > of type : model  points to :  default_chunker Points to Spark NLP reference :  ('default_chunker', 'model')
Default NLU reference : < embed_chunk > of type : model  points to :  chunk_embeddings Points to Spark NLP reference :  ('chunk_embeddings', 'model')
Default NLU reference : < ngram > of type : model  points to :  ngram Points to Spark NLP reference :  ('ngram', 'model')
Default NLU reference : < lemma > of type : model  points to :  lemma_antbnc Points to Spark NLP reference :  ('lemma_antbnc', 'model')
Default NLU reference : < lemma.antbnc > of type : model  points to :  lemma_antbnc Points to Spark NLP reference :  ('lemma_antbnc', 'model')
Default NLU reference : < pos > of type : model  points to :  pos_anc Points to Spark NLP reference :  ('pos_anc', 'model')
Default NLU reference : < pos.anc > of type : model  points to :  pos_anc Points to Spark NLP reference :  ('pos_anc', 'model')
Default NLU reference : < pos.ud_ewt > of type : model  points to :  pos_ud_ewt Points to Spark NLP reference :  ('pos_ud_ewt', 'model')
Default NLU reference : < ner.dl.glove_6B_100d > of type : model  points to :  ner_dl Points to Spark NLP reference :  ('ner_dl', 'model')
Default NLU reference : < ner.dl.bert > of type : model  points to :  ner_dl_bert Points to Spark NLP reference :  ('ner_dl_bert', 'model')
Default NLU reference : < ner.onto.glove_6B_100d > of type : model  points to :  onto_100 Points to Spark NLP reference :  ('onto_100', 'model')
Default NLU reference : < ner.onto.glove_6B_300d > of type : model  points to :  onto_300 Points to Spark NLP reference :  ('onto_300', 'model')
Default NLU reference : < sentence_detector > of type : model  points to :  ner_dl_sentence Points to Spark NLP reference :  ('ner_dl_sentence', 'model')
Default NLU reference : < sentence_detector.deep > of type : model  points to :  ner_dl_sentence Points to Spark NLP reference :  ('ner_dl_sentence', 'model')
Default NLU reference : < spell.norivg > of type : model  points to :  spellcheck_norvig Points to Spark NLP reference :  ('spellcheck_norvig', 'model')
Default NLU reference : < sentiment.vivekn > of type : model  points to :  sentiment_vivekn Points to Spark NLP reference :  ('sentiment_vivekn', 'model')
Default NLU reference : < dep.untyped.conllu > of type : model  points to :  dependency_conllu Points to Spark NLP reference :  ('dependency_conllu', 'model')
Default NLU reference : < dep.untyped > of type : model  points to :  dependency_conllu.untyped Points to Spark NLP reference :  ('dependency_conllu.untyped', 'model')
Default NLU reference : < dep > of type : model  points to :  dependency_typed_conllu Points to Spark NLP reference :  ('dependency_typed_conllu', 'model')
Default NLU reference : < dep.typed > of type : model  points to :  dependency_typed_conllu Points to Spark NLP reference :  ('dependency_typed_conllu', 'model')
Default NLU reference : < dep.typed.conllu > of type : model  points to :  dependency_typed_conllu Points to Spark NLP reference :  ('dependency_typed_conllu', 'model')
Default NLU reference : < stopwords > of type : model  points to :  stopwords_en Points to Spark NLP reference :  ('stopwords_en', 'model')
Default NLU reference : < embed > of type : model  points to :  glove_100d Points to Spark NLP reference :  ('glove_100d', 'model')
Default NLU reference : < glove > of type : model  points to :  glove_100d Points to Spark NLP reference :  ('glove_100d', 'model')
Default NLU reference : < embed.glove > of type : model  points to :  glove_100d Points to Spark NLP reference :  ('glove_100d', 'model')
Default NLU reference : < embed.glove_100d > of type : model  points to :  glove_100d Points to Spark NLP reference :  ('glove_100d', 'model')
Default NLU reference : < bert > of type : model  points to :  bert_base_uncased Points to Spark NLP reference :  ('bert_base_uncased', 'model')
Default NLU reference : < embed.bert > of type : model  points to :  bert_base_uncased Points to Spark NLP reference :  ('bert_base_uncased', 'model')
Default NLU reference : < embed.bert_base_uncased > of type : model  points to :  bert_base_uncased Points to Spark NLP reference :  ('bert_base_uncased', 'model')
Default NLU reference : < embed.bert_base_cased > of type : model  points to :  bert_base_cased Points to Spark NLP reference :  ('bert_base_cased', 'model')
Default NLU reference : < biobert > of type : model  points to :  biobert_pubmed_base_cased Points to Spark NLP reference :  ('biobert_pubmed_base_cased', 'model')
Default NLU reference : < embed.biobert > of type : model  points to :  biobert_pubmed_base_cased Points to Spark NLP reference :  ('biobert_pubmed_base_cased', 'model')
Default NLU reference : < embed.biobert_pubmed_base_cased > of type : model  points to :  biobert_pubmed_base_cased Points to Spark NLP reference :  ('biobert_pubmed_base_cased', 'model')
Default NLU reference : < embed.biobert_pubmed_pmc_base_cased > of type : model  points to :  biobert_pubmed_pmc_base_cased Points to Spark NLP reference :  ('biobert_pubmed_pmc_base_cased', 'model')
Default NLU reference : < embed.biobert_clinical_base_cased > of type : model  points to :  biobert_clinical_base_cased Points to Spark NLP reference :  ('biobert_clinical_base_cased', 'model')
Default NLU reference : < embed.biobert_discharge_base_cased > of type : model  points to :  biobert_discharge_base_cased Points to Spark NLP reference :  ('biobert_discharge_base_cased', 'model')
Default NLU reference : < elmo > of type : model  points to :  elmo Points to Spark NLP reference :  ('elmo', 'model')
Default NLU reference : < embed.elmo > of type : model  points to :  elmo Points to Spark NLP reference :  ('elmo', 'model')
Default NLU reference : < embed_sentence > of type : model  points to :  tfhub_use Points to Spark NLP reference :  ('tfhub_use', 'model')
Default NLU reference : < embed_sentence.use > of type : model  points to :  tfhub_use Points to Spark NLP reference :  ('tfhub_use', 'model')
Default NLU reference : < use > of type : model  points to :  tfhub_use Points to Spark NLP reference :  ('tfhub_use', 'model')
Default NLU reference : < embed_sentence.tfhub_use > of type : model  points to :  tfhub_use Points to Spark NLP reference :  ('tfhub_use', 'model')
Default NLU reference : < embed_sentence.use_lg > of type : model  points to :  tfhub_use_lg Points to Spark NLP reference :  ('tfhub_use_lg', 'model')
Default NLU reference : < embed_sentence.tfhub_use_lg > of type : model  points to :  tfhub_use_lg Points to Spark NLP reference :  ('tfhub_use_lg', 'model')
Default NLU reference : < albert > of type : model  points to :  albert_base_uncased Points to Spark NLP reference :  ('albert_base_uncased', 'model')
Default NLU reference : < embed.albert_base_uncased > of type : model  points to :  albert_base_uncased Points to Spark NLP reference :  ('albert_base_uncased', 'model')
Default NLU reference : < embed.xlnet > of type : model  points to :  xlnet_base_cased Points to Spark NLP reference :  ('xlnet_base_cased', 'model')
Default NLU reference : < xlnet > of type : model  points to :  xlnet_base_cased Points to Spark NLP reference :  ('xlnet_base_cased', 'model')
Default NLU reference : < classify.trec6.use > of type : model  points to :  classifierdl_use_trec6 Points to Spark NLP reference :  ('classifierdl_use_trec6', 'model')
Default NLU reference : < classify.trec50.use > of type : model  points to :  classifierdl_use_trec50 Points to Spark NLP reference :  ('classifierdl_use_trec50', 'model')
Default NLU reference : < classify.spam.use > of type : model  points to :  classifierdl_use_spam Points to Spark NLP reference :  ('classifierdl_use_spam', 'model')
Default NLU reference : < classify.fakenews.use > of type : model  points to :  classifierdl_use_fakenews Points to Spark NLP reference :  ('classifierdl_use_fakenews', 'model')
Default NLU reference : < classify.emotion.use > of type : model  points to :  classifierdl_use_emotion Points to Spark NLP reference :  ('classifierdl_use_emotion', 'model')
Default NLU reference : < classify.cyberbullying.use > of type : model  points to :  classifierdl_use_cyberbullying Points to Spark NLP reference :  ('classifierdl_use_cyberbullying', 'model')
Default NLU reference : < classify.sarcasm.use > of type : model  points to :  classifierdl_use_sarcasm Points to Spark NLP reference :  ('classifierdl_use_sarcasm', 'model')
Default NLU reference : < sentiment.imdb.glove > of type : model  points to :  sentimentdl_glove_imdb Points to Spark NLP reference :  ('sentimentdl_glove_imdb', 'model')
Default NLU reference : < classify.trec6 > of type : model  points to :  classifierdl_use_trec6 Points to Spark NLP reference :  ('classifierdl_use_trec6', 'model')
Default NLU reference : < classify.trec50 > of type : model  points to :  classifierdl_use_trec50 Points to Spark NLP reference :  ('classifierdl_use_trec50', 'model')
Default NLU reference : < classify.spam > of type : model  points to :  classifierdl_use_spam Points to Spark NLP reference :  ('classifierdl_use_spam', 'model')
Default NLU reference : < classify.fakenews > of type : model  points to :  classifierdl_use_fakenews Points to Spark NLP reference :  ('classifierdl_use_fakenews', 'model')
Default NLU reference : < classify.emotion > of type : model  points to :  classifierdl_use_emotion Points to Spark NLP reference :  ('classifierdl_use_emotion', 'model')
Default NLU reference : < classify.cyberbullying > of type : model  points to :  classifierdl_use_cyberbullying Points to Spark NLP reference :  ('classifierdl_use_cyberbullying', 'model')
Default NLU reference : < classify.sarcasm > of type : model  points to :  classifierdl_use_sarcasm Points to Spark NLP reference :  ('classifierdl_use_sarcasm', 'model')
Default NLU reference : < embed.glove_840B_300 > of type : model  points to :  glove_840B_300 Points to Spark NLP reference :  ('glove_840B_300', 'model')
Default NLU reference : < embed.glove_6B_300 > of type : model  points to :  glove_6B_300 Points to Spark NLP reference :  ('glove_6B_300', 'model')
Default NLU reference : < embed.bert_multi_cased > of type : model  points to :  bert_multi_cased Points to Spark NLP reference :  ('bert_multi_cased', 'model')
Default NLU reference : < classify.wiki_7 > of type : model  points to :  ld_wiki_7 Points to Spark NLP reference :  ('ld_wiki_7', 'model')
Default NLU reference : < classify.wiki_20 > of type : model  points to :  ld_wiki_20 Points to Spark NLP reference :  ('ld_wiki_20', 'model')
NLU reference < nl.explain > for lang nl  points to SPARK NLP model : explain_document_sm
NLU reference < nl.explain.sm > for lang nl  points to SPARK NLP model : explain_document_sm
NLU reference < nl.explain.md > for lang nl  points to SPARK NLP model : explain_document_md
NLU reference < nl.explain.lg > for lang nl  points to SPARK NLP model : explain_document_lg
NLU reference < nl.ner > for lang nl  points to SPARK NLP model : entity_recognizer_sm
NLU reference < nl.ner.sm > for lang nl  points to SPARK NLP model : entity_recognizer_sm
NLU reference < nl.ner.md > for lang nl  points to SPARK NLP model : entity_recognizer_md
NLU reference < nl.ner.lg > for lang nl  points to SPARK NLP model : entity_recognizer_lg
NLU reference < en.classify > for lang en  points to SPARK NLP model : analyze_sentiment
NLU reference < en.explain > for lang en  points to SPARK NLP model : explain_document_ml
NLU reference < en.explain.ml > for lang en  points to SPARK NLP model : explain_document_ml
NLU reference < en.explain.dl > for lang en  points to SPARK NLP model : explain_document_dl
NLU reference < en.ner > for lang en  points to SPARK NLP model : recognize_entities_dl
NLU reference < en.ner.dl > for lang en  points to SPARK NLP model : recognize_entities_dl
NLU reference < en.ner.bert > for lang en  points to SPARK NLP model : recognize_entities_bert
NLU reference < en.ner.onto > for lang en  points to SPARK NLP model : onto_recognize_entities_sm
NLU reference < en.ner.onto.sm > for lang en  points to SPARK NLP model : onto_recognize_entities_sm
NLU reference < en.ner.onto.lg > for lang en  points to SPARK NLP model : onto_recognize_entities_lg
NLU reference < en.match.datetime > for lang en  points to SPARK NLP model : match_datetime
NLU reference < en.match.pattern > for lang en  points to SPARK NLP model : match_pattern
NLU reference < en.match.chunks > for lang en  points to SPARK NLP model : match_chunks
NLU reference < en.match.phrases > for lang en  points to SPARK NLP model : match_phrases
NLU reference < en.clean.stop > for lang en  points to SPARK NLP model : clean_stop
NLU reference < en.clean.pattern > for lang en  points to SPARK NLP model : clean_pattern
NLU reference < en.clean.slang > for lang en  points to SPARK NLP model : clean_slang
NLU reference < en.spell > for lang en  points to SPARK NLP model : check_spelling
NLU reference < en.spell.dl > for lang en  points to SPARK NLP model : check_spelling_dl
NLU reference < en.spell.context > for lang en  points to SPARK NLP model : check_spelling_dl
NLU reference < en.sentiment > for lang en  points to SPARK NLP model : analyze_sentiment
NLU reference < en.sentiment.imdb > for lang en  points to SPARK NLP model : analyze_sentimentdl_use_imdb
NLU reference < en.sentiment.imdb.use > for lang en  points to SPARK NLP model : analyze_sentimentdl_use_imdb
NLU reference < en.sentiment.twitter.use > for lang en  points to SPARK NLP model : analyze_sentimentdl_use_twitter
NLU reference < en.sentiment.twitter > for lang en  points to SPARK NLP model : analyze_sentimentdl_use_twitter
NLU reference < fr.explain > for lang fr  points to SPARK NLP model : explain_document_lg
NLU reference < fr.explain.lg > for lang fr  points to SPARK NLP model : explain_document_lg
NLU reference < fr.explain.md > for lang fr  points to SPARK NLP model : explain_document_md
NLU reference < fr.ner > for lang fr  points to SPARK NLP model : entity_recognizer_lg
NLU reference < fr.ner.lg > for lang fr  points to SPARK NLP model : entity_recognizer_lg
NLU reference < fr.ner.md > for lang fr  points to SPARK NLP model : entity_recognizer_md
NLU reference < de.explain.document > for lang de  points to SPARK NLP model : explain_document_md
NLU reference < de.explain.document.md > for lang de  points to SPARK NLP model : explain_document_md
NLU reference < de.explain.document.lg > for lang de  points to SPARK NLP model : explain_document_lg

In [ ]:
# any string inside of <> can be apssed to nlu.load()
nlu.print_all_nlu_components_for_lang(lang='de')

All Pipelines for language de

NLU pipe reference :  de.explain.document  points to Spark NLP Pipeline: explain_document_md
NLU pipe reference :  de.explain.document.md  points to Spark NLP Pipeline: explain_document_md
NLU pipe reference :  de.explain.document.lg  points to Spark NLP Pipeline: explain_document_lg
NLU pipe reference :  de.ner.recognizer  points to Spark NLP Pipeline: entity_recognizer_md
NLU pipe reference :  de.ner.recognizer.md  points to Spark NLP Pipeline: entity_recognizer_md
NLU pipe reference :  de.ner.recognizer.lg  points to Spark NLP Pipeline: entity_recognizer_lg
All Pipelines for language de
 {'de.lemma': 'lemma', 'de.pos.ud_hdt': 'pos_ud_hdt', 'de.pos': 'pos_ud_hdt', 'de.ner': 'wikiner_840B_300', 'de.ner.wikiner': 'wikiner_840B_300', 'de.ner.wikiner.glove_840B_300': 'wikiner_840B_300', 'de.stopwords': 'stopwords_de'}
NLU reference :  de.lemma  points to Spark NLP Model:  lemma
NLU reference :  de.pos.ud_hdt  points to Spark NLP Model:  pos_ud_hdt
NLU reference :  de.pos  points to Spark NLP Model:  pos_ud_hdt
NLU reference :  de.ner  points to Spark NLP Model:  wikiner_840B_300
NLU reference :  de.ner.wikiner  points to Spark NLP Model:  wikiner_840B_300
NLU reference :  de.ner.wikiner.glove_840B_300  points to Spark NLP Model:  wikiner_840B_300
NLU reference :  de.stopwords  points to Spark NLP Model:  stopwords_de

In [ ]:

import nlu
import pandas as pd 
def get_sample_pdf() :
    data = {"text": ['This day sucks. But tmorow will be beter', 'Donald Trump had a meeting with Tim Apple. ', 'This is your last chance. After this, there is no turning back. You take the blue pill  the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill  you stay in Wonderland and I show you how deep the rabbit-hole goes.' ]}
    text_df = pd.DataFrame(data)
    return text_df
sample_pdf = get_sample_pdf()

# Tokenize

In [ ]:
nlu.load('tokenize').predict('Each word and Symbol in a sentence will generate token.')

       token          id
0       Each  8589934592
1       word  8589934592
2        and  8589934592
3     Symbol  8589934592
4         in  8589934592
5          a  8589934592
6   sentence  8589934592
7       will  8589934592
8   generate  8589934592
9      token  8589934592
10         .  8589934592

# Remove Stop Words

In [ ]:
nlu.load('stopwords').predict('I want you to remove stopewords from this sentence please')

stopwords_en download started this may take some time.
Approximate size to download 2.9 KB
[OK!]

  cleanTokens       token          id
0      remove           I  8589934592
1  stopewords        want  8589934592
2    sentence         you  8589934592
3        None          to  8589934592
4        None      remove  8589934592
5        None  stopewords  8589934592
6        None        from  8589934592
7        None        this  8589934592
8        None    sentence  8589934592
9        None      please  8589934592

# Normalize as sentence

In [ ]:
nlu.load('norm').predict('I want the stopwords removed from this sentence')

  normalized      token          id
0          I          I  8589934592
1       want       want  8589934592
2        the        the  8589934592
3  stopwords  stopwords  8589934592
4    removed    removed  8589934592
5       from       from  8589934592
6       this       this  8589934592
7   sentence   sentence  8589934592

# Stemmer

In [ ]:
nlu.load('stem').predict('NLU can get you the stem of a word')

   stem token          id
0   nlu   NLU  8589934592
1   can   can  8589934592
2   get   get  8589934592
3   you   you  8589934592
4   the   the  8589934592
5  stem  stem  8589934592
6    of    of  8589934592
7     a     a  8589934592
8  word  word  8589934592

# POS

In [ ]:
nlu.load('pos').predict('Part of speech assigns each token in a sentence a grammatcial label')

pos_anc download started this may take some time.
Approximate size to download 4.3 MB
[OK!]

    pos        token          id
0    NN         Part  8589934592
1    IN           of  8589934592
2    NN       speech  8589934592
3   NNS      assigns  8589934592
4    DT         each  8589934592
5    NN        token  8589934592
6    IN           in  8589934592
7    DT            a  8589934592
8    NN     sentence  8589934592
9    DT            a  8589934592
10   JJ  grammatcial  8589934592
11   NN        label  8589934592

# Emotions Classification

In [ ]:
nlu.load('classify.emotion').predict("I love NLU!")

classifierdl_use_emotion download started this may take some time.
Approximate size to download 20.7 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [0.027570432052016258, -0.052647676318883896, ...  ...  8589934592

[1 rows x 9 columns]

# Sentiment

In [ ]:
nlu.load('sentiment').predict("I hate this guy Sami")

analyze_sentiment download started this may take some time.
Approx size to download 4.9 MB
[OK!]

  sentiment_confidence  ...                     checked
0               0.5778  ...  [I, hate, this, guy, Sami]

[1 rows x 5 columns]

# Spell checking

In [ ]:
nlu.load('spell').predict('I liek pentut butr and jelli')

check_spelling download started this may take some time.
Approx size to download 892.6 KB
[OK!]

  checked   token          id
0       I       I  8589934592
1    like    liek  8589934592
2  pentut  pentut  8589934592
3    butt    butr  8589934592
4     and     and  8589934592
5   jelly   jelli  8589934592

#Lemmatization

In [ ]:
nlu.load('lemma').predict('Lemmatizing generates a less noisy version of the inputted tokens')

lemma_antbnc download started this may take some time.
Approximate size to download 907.6 KB
[OK!]

         lemma        token          id
0  Lemmatizing  Lemmatizing  8589934592
1     generate    generates  8589934592
2            a            a  8589934592
3         less         less  8589934592
4        noisy        noisy  8589934592
5      version      version  8589934592
6           of           of  8589934592
7          the          the  8589934592
8        input     inputted  8589934592
9        token       tokens  8589934592

# Normalizer

In [ ]:
nlu.load('norm').predict('@CKL_IT says that #normalizers are pretty useful to clean #structured_strings in #NLU like tweets')

           normalized                token          id
0               CKLIT              @CKL_IT  8589934592
1                says                 says  8589934592
2                that                 that  8589934592
3         normalizers         #normalizers  8589934592
4                 are                  are  8589934592
5              pretty               pretty  8589934592
6              useful               useful  8589934592
7                  to                   to  8589934592
8               clean                clean  8589934592
9   structuredstrings  #structured_strings  8589934592
10                 in                   in  8589934592
11                NLU                 #NLU  8589934592
12               like                 like  8589934592
13             tweets               tweets  8589934592

# Language Classification

In [ ]:
nlu.load('lang').predict(['NLU is an open-source text processing library for advanced natural language processing for the Python.','NLU est une bibliothque de traitement de texte open source pour le traitement avanc du langage naturel pour les langages de programmation Python.'])

detect_language_20 download started this may take some time.
Approx size to download 3 MB
[OK!]

     language_de   language_no  ... language          id
0  1.10927795E-4   1.786265E-4  ...       en           0
1   2.9392602E-6  3.7423422E-5  ...       fr  8589934592

[2 rows x 23 columns]

#Named Entity Recognition ( NER )

In [ ]:
nlu.load('ner').predict('Donald Trump had a meeting with Tim Appe in new York!')

recognize_entities_dl download started this may take some time.
Approx size to download 159 MB
[OK!]

                                            document  ...                                                ner
0  Donald Trump had a meeting with Tim Appe in ne...  ...  [B-PER, I-PER, O, O, O, O, B-PER, I-PER, O, O,...

[1 rows x 5 columns]

# Ngrams

In [ ]:
nlu.load('ngram').predict('To be or not to be ')

pos_anc download started this may take some time.
Approximate size to download 4.3 MB
[OK!]

             document  ...                       pos
0  To be or not to be  ...  [TO, VB, CC, RB, TO, VB]

[1 rows x 4 columns]

# Regex Matching

In [ ]:
# nlu.load('match.regex').predict('Wht a wondful day!')  # work in Progress

# text matching

In [ ]:
# nlu.load('match.text').predict('Wht a wondful day!')  # work in Progress

# Date Matching

In [ ]:
nlu.load('match.datetime').predict(' In the years 2000/01/01 to 2010/01/01 a lot of things happend')

match_datetime download started this may take some time.
Approx size to download 12.9 KB
[OK!]

                                            document  ...                      date
0   In the years 2000/01/01 to 2010/01/01 a lot o...  ...  [2000/01/01, 2001/01/01]

[1 rows x 3 columns]

# Chunking

In [ ]:
# First we load the pipeline
pipe = nlu.load('match.chunks')
# Now we print the info to see at which index which com,ponent is and what parameters we can configure on them 
pipe.print_info()
# Lets set our Chunker to only match NN
pipe.pipe_components[4].model.setRegexParsers(['<NN>+'])
# Now we can predict with the configured pipeline
pipe.predict("Jim and Joe went to the market next to the town hall")

match_chunks download started this may take some time.
Approx size to download 4.3 MB
[OK!]
-------------------------------------At pipe.pipe_components[0].model  : document_assembler with configurable parameters: --------------------------------------
Param Name [ cleanupMode ] :  Param Info : possible values: disabled, inplace, inplace_full, shrink, shrink_full, each, each_full, delete_full  currenlty Configured as :  disabled
-------------------------------------At pipe.pipe_components[1].model  : document_assembler with configurable parameters: --------------------------------------
Param Name [ customBounds ] :  Param Info : characters used to explicitly mark sentence bounds  currenlty Configured as :  []
Param Name [ explodeSentences ] :  Param Info : whether to explode each sentence into a different row, for better parallelization. Defaults to false.  currenlty Configured as :  False
Param Name [ lazyAnnotator ] :  Param Info : Whether this AnnotatorModel acts as lazy in RecursivePipelines  currenlty Configured as :  False
Param Name [ maxLength ] :  Param Info : Set the maximum allowed length for each sentence  currenlty Configured as :  99999
Param Name [ minLength ] :  Param Info : Set the minimum allowed length for each sentence.  currenlty Configured as :  0
Param Name [ useAbbreviations ] :  Param Info : whether to apply abbreviations at sentence detection  currenlty Configured as :  True
Param Name [ useCustomBoundsOnly ] :  Param Info : Only utilize custom bounds in sentence detection  currenlty Configured as :  False
----------------------------------------At pipe.pipe_components[2].model  : date_matcher with configurable parameters: -----------------------------------------
Param Name [ caseSensitiveExceptions ] :  Param Info : Whether to care for case sensitiveness in exceptions  currenlty Configured as :  True
Param Name [ lazyAnnotator ] :  Param Info : Whether this AnnotatorModel acts as lazy in RecursivePipelines  currenlty Configured as :  False
Param Name [ targetPattern ] :  Param Info : pattern to grab from text as token candidates. Defaults \S+  currenlty Configured as :  \S+
Param Name [ maxLength ] :  Param Info : Set the maximum allowed length for each token  currenlty Configured as :  99999
Param Name [ minLength ] :  Param Info : Set the minimum allowed length for each token  currenlty Configured as :  0
----------------------------------------At pipe.pipe_components[3].model  : sentiment_dl  with configurable parameters: ----------------------------------------
Param Name [ lazyAnnotator ] :  Param Info : Whether this AnnotatorModel acts as lazy in RecursivePipelines  currenlty Configured as :  False
---------------------------------------At pipe.pipe_components[4].model  : default_chunker with configurable parameters: ---------------------------------------
Param Name [ lazyAnnotator ] :  Param Info : Whether this AnnotatorModel acts as lazy in RecursivePipelines  currenlty Configured as :  False
Param Name [ regexParsers ] :  Param Info : an array of grammar based chunk parsers  currenlty Configured as :  ['<NN>+']

       chunk          id                                                pos
0     market  8589934592  [NNP, CC, NNP, VBD, TO, DT, NN, JJ, TO, DT, NN...
1  town hall  8589934592  [NNP, CC, NNP, VBD, TO, DT, NN, JJ, TO, DT, NN...

# Sentence Detector

In [ ]:
nlu.load('sentence_detector').predict('NLU can detect things. Like beginning and endings of sentences. It can also do much more!', output_level ='sentence')   # todo buggy

ner_dl_sentence download started this may take some time.
Approximate size to download 13.3 MB
[OK!]
glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]
pos_anc download started this may take some time.
Approximate size to download 4.3 MB
[OK!]

                                   sentence  ...                                                pos
0                    NLU can detect things.  ...  [NNP, MD, VB, NNS, ., IN, VBG, CC, NNS, IN, NN...
1  Like beginning and endings of sentences.  ...  [NNP, MD, VB, NNS, ., IN, VBG, CC, NNS, IN, NN...
2                 It can also do much more!  ...  [NNP, MD, VB, NNS, ., IN, VBG, CC, NNS, IN, NN...

[3 rows x 5 columns]

# Word embeddings Biobert

In [ ]:
nlu.load('biobert').predict('Biobert was pretrained on a medical dataset')

biobert_pubmed_base_cased download started this may take some time.
Approximate size to download 384.8 MB
[OK!]

                                     bert_embeddings       token          id
0  [-1.1250135898590088, -1.468251347541809, 0.45...     Biobert  8589934592
1  [-1.2141287326812744, 0.513595461845398, 0.108...         was  8589934592
2  [1.0130831003189087, -1.8673359155654907, -0.6...  pretrained  8589934592
3  [0.03375675156712532, 0.03003840334713459, 0.0...          on  8589934592
4  [0.2643347382545471, 1.3394858837127686, -0.15...           a  8589934592
5  [-0.0770333781838417, -1.6575649976730347, -0....     medical  8589934592
6  [1.7789418697357178, 0.11998558044433594, 0.01...     dataset  8589934592

# Word embeddings Bert

In [ ]:
nlu.load('bert').predict('NLU offers the latest embeddings in one line ')

bert_base_uncased download started this may take some time.
Approximate size to download 392.5 MB
[OK!]

                                     bert_embeddings   token          id
0  [0.3253086805343628, -0.574441134929657, -0.08...     Nlu  8589934592
1  [-0.6288262605667114, 0.016402214765548706, -0...  please  8589934592
2  [-0.29604873061180115, -1.0217010974884033, -0...   embed  8589934592
3  [-0.45352810621261597, 0.20624420046806335, -0...     the  8589934592
4  [-1.0501813888549805, -0.271099328994751, -0.5...  tokens  8589934592
5  [-0.38442206382751465, 0.2812134623527527, 0.2...    with  8589934592
6  [0.647590160369873, 0.4462052583694458, 0.5612...    Bert  8589934592
7  [0.5412184000015259, -0.18504130840301514, -0....       !  8589934592

# Word embeddings Albert

In [ ]:
nlu.load('albert').predict('Albert uses a collection of many berts to generate embeddigns ')

albert_base_uncased download started this may take some time.
Approximate size to download 42.7 MB
[OK!]

                                   albert_embeddings       token          id
0  [-0.08257609605789185, -0.8017427325248718, 1....      Albert  8589934592
1  [0.8256351947784424, -1.5144840478897095, 0.90...        uses  8589934592
2  [-0.22089454531669617, -0.24295514822006226, 3...           a  8589934592
3  [-0.2136894017457962, -0.8225528597831726, -0....  collection  8589934592
4  [1.7623294591903687, -1.113651156425476, 0.800...          of  8589934592
5  [0.6415284872055054, -0.04533941298723221, 1.9...        many  8589934592
6  [-0.5591965317726135, -1.1773797273635864, -0....       berts  8589934592
7  [1.0956681966781616, -1.4180747270584106, -0.2...          to  8589934592
8  [-0.6759272813796997, -1.3546931743621826, 1.6...    generate  8589934592
9  [-0.0035803020000457764, -0.35928264260292053,...  embeddigns  8589934592

# Word embeddings Elmo

In [ ]:
nlu.load('elmo').predict('Elmo was trained on Left to right masked to learn its embeddings')

elmo download started this may take some time.
Approximate size to download 334.1 MB
[OK!]

                                      elmo_embeddings       token          id
0   [0.6083735227584839, 0.20089012384414673, 0.42...        Elmo  8589934592
1   [0.2980785369873047, -0.07382500916719437, -0....         was  8589934592
2   [-0.39923471212387085, 0.17155063152313232, 0....     trained  8589934592
3   [0.04337821900844574, 0.1392083466053009, -0.4...          on  8589934592
4   [0.4468783736228943, -0.623046875, 0.771505534...        Left  8589934592
5   [-0.18209676444530487, 0.03812692314386368, 0....          to  8589934592
6   [0.23305709660053253, -0.6459438800811768, 0.5...       right  8589934592
7   [-0.7243442535400391, 0.10247116535902023, 0.1...      masked  8589934592
8   [-0.18209676444530487, 0.03812692314386368, 0....          to  8589934592
9   [1.2942464351654053, 0.7376189231872559, -0.58...       learn  8589934592
10  [0.055951207876205444, 0.19218483567237854, -0...         its  8589934592
11  [-1.31377112865448, 0.7727609872817993, 0.6748...  embeddings  8589934592

# Word Embeddings Xlnet

In [ ]:
import nlu 
nlu.load('xlnet').predict('XLNET computes contextualized word representations using combination of Autoregressive Language Model and Permutation Language Model')

xlnet_base_cased download started this may take some time.
Approximate size to download 415.8 MB
[OK!]

                                     xlnet_embeddings  ...          id
0   [-0.02719488926231861, -1.7693557739257812, -0...  ...  8589934592
1   [-1.8262947797775269, 0.8455266356468201, 0.57...  ...  8589934592
2   [2.8446314334869385, -0.3564329445362091, -2.1...  ...  8589934592
3   [-0.6143839359283447, -1.7368144989013672, -0....  ...  8589934592
4   [-0.30445945262908936, -1.2129613161087036, 0....  ...  8589934592
5   [0.07423821836709976, -0.02561005763709545, -0...  ...  8589934592
6   [-0.5387097597122192, -1.1827564239501953, 0.5...  ...  8589934592
7   [-1.403516411781311, 0.3108177185058594, -0.32...  ...  8589934592
8   [-1.0869172811508179, 0.7135171890258789, -0.2...  ...  8589934592
9   [-0.33215752243995667, -1.4108021259307861, -0...  ...  8589934592
10  [-1.6097160577774048, -0.2548254430294037, 0.0...  ...  8589934592
11  [0.7884324789047241, -1.507911205291748, 0.677...  ...  8589934592
12  [0.6049966812133789, -0.157279372215271, -0.06...  ...  8589934592
13  [-0.33215752243995667, -1.4108021259307861, -0...  ...  8589934592
14  [-1.6097160577774048, -0.2548254430294037, 0.0...  ...  8589934592

[15 rows x 3 columns]

# Word Embeddings Glove

In [ ]:
nlu.load('glove').predict('Glove embeddings are generated by aggregating global word-word co-occurrence matrix from a corpus')

glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]

                                     glove_embeddings  ...          id
0   [0.3677999973297119, 0.37073999643325806, 0.32...  ...  8589934592
1   [0.732479989528656, 0.3734700083732605, 0.0188...  ...  8589934592
2   [-0.5153300166130066, 0.8318600058555603, 0.22...  ...  8589934592
3   [-0.35510000586509705, 0.6115900278091431, 0.4...  ...  8589934592
4   [-0.20874999463558197, -0.11739999800920486, 0...  ...  8589934592
5   [-0.5133699774742126, 0.04489300027489662, 0.1...  ...  8589934592
6   [0.24281999468803406, 0.6170300245285034, 0.66...  ...  8589934592
7   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  ...  8589934592
8   [0.16384999454021454, -0.3178800046443939, 0.1...  ...  8589934592
9   [-0.2663800120353699, 0.4449099898338318, 0.32...  ...  8589934592
10  [0.30730998516082764, 0.24737000465393066, 0.6...  ...  8589934592
11  [-0.2708599865436554, 0.04400600120425224, -0....  ...  8589934592
12  [0.39937999844551086, 0.15894000232219696, -0....  ...  8589934592

[13 rows x 3 columns]

# Sentence Embeddings Use

In [ ]:
nlu.load('use').predict('USE is designed to encode whole sentences and documents into vectors that can be used for text classification, sementic similarirty, clustering or oder NLP tasks')

tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                      use_embeddings  ...          id
0  [0.03302069380879402, -0.004255455918610096, -...  ...  8589934592

[1 rows x 3 columns]

# Chunk embeddings

In [ ]:
# nlu.load('embed_chunk').predict('a wondful day') # work in progress

# sentence embeddings

In [ ]:
nlu.load('embed_sentence').predict('Embed all the sentences. In the input please')

tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                      use_embeddings  ...          id
0  [-0.01943225972354412, 0.012606756761670113, -...  ...  8589934592
1  [0.02531137689948082, -0.016110848635435104, -...  ...  8589934592

[2 rows x 3 columns]

# multiple embeddings at once

In [ ]:
# nlu.load('elmo bert glove').predict('You can get multiple embeddings at once in NLU in just one line!') #watch out RAM killer

# Dependency parsing untyped

In [ ]:
nlu.load('dep.untyped').predict('Untyped Dependencies represent a grammatical tree structure')

dependency_conllu download started this may take some time.
Approximate size to download 16.6 MB
[OK!]
pos_anc download started this may take some time.
Approximate size to download 4.3 MB
[OK!]

   pos         token dependency          id
0  NNP       Untyped       ROOT  8589934592
1  NNP  Dependencies  represent  8589934592
2  VBD     represent    Untyped  8589934592
3   DT             a  structure  8589934592
4   JJ   grammatical  structure  8589934592
5   NN          tree  structure  8589934592
6   NN     structure  represent  8589934592

# Dependency parsing typed

In [ ]:
import nlu 

nlu.load('dep').predict('Typed Dependencies represent a grammatical tree structure where every edge has a label')

dependency_typed_conllu download started this may take some time.
Approximate size to download 257.4 KB
[OK!]
dependency_conllu download started this may take some time.
Approximate size to download 16.6 MB
[OK!]
pos_anc download started this may take some time.
Approximate size to download 4.3 MB
[OK!]

    pos labled_dependency dependency         token          id
0   NNP              root       ROOT         Typed  8589934592
1   NNP             nsubj  represent  Dependencies  8589934592
2   VBD         parataxis      Typed     represent  8589934592
3    DT             nsubj  structure             a  8589934592
4    JJ              amod  structure   grammatical  8589934592
5    NN              flat  structure          tree  8589934592
6    NN             nsubj  represent     structure  8589934592
7   WRB              mark  structure         where  8589934592
8    DT             nsubj       edge         every  8589934592
9    NN             nsubj      where          edge  8589934592
10  VBZ              root       ROOT           has  8589934592
11   DT             nsubj      label             a  8589934592
12   NN             nsubj        has         label  8589934592

# Classify Twitter sentiment

In [ ]:
nlu.load('en.sentiment.twitter').predict('@elonmusk Tesla stock price is too high imo')

analyze_sentimentdl_use_twitter download started this may take some time.
Approx size to download 928.3 MB
[OK!]

                                      document  ...   sentiment
0  @elonmusk Tesla stock price is too high imo  ...  [negative]

[1 rows x 7 columns]

# Classify Sentiment

In [ ]:
nlu.load('en.sentiment.imdb').predict('The Matrix was a pretty good movie')

analyze_sentimentdl_use_imdb download started this may take some time.
Approx size to download 935.8 MB
[OK!]

                             document  ...   sentiment
0  The Matrix was a pretty good movie  ...  [positive]

[1 rows x 7 columns]

# Classify Sarcasm

In [ ]:
nlu.load('en.classify.sarcasm').predict('gotta love the teachers who give examns on the day after halloween')

classifierdl_use_sarcasm download started this may take some time.
Approximate size to download 21.5 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [-0.03146284446120262, 0.04071342945098877, 0....  ...  8589934592

[1 rows x 7 columns]

# Classify Cyberbullying

In [ ]:
nlu.load('en.classify.cyberbullying').predict('Women belong in the kitchen.') # Sorry we dont mean it

classifierdl_use_cyberbullying download started this may take some time.
Approximate size to download 21.4 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [-0.054944973438978195, -0.022223370149731636,...  ...  8589934592

[1 rows x 8 columns]

# Classify Fakenews

In [ ]:
nlu.load('en.classify.fakenews').predict('Unicorns have been sighted on Mars!')

classifierdl_use_fakenews download started this may take some time.
Approximate size to download 21.4 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [-0.01756167598068714, 0.015006818808615208, -...  ...  8589934592

[1 rows x 7 columns]

# Classify Spam

In [ ]:
nlu.load('en.classify.spam').predict('Please sign up for this FREE membership it costs $$NO MONEY$$ just your mobile number!')

classifierdl_use_spam download started this may take some time.
Approximate size to download 21.5 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [0.008322705514729023, 0.009957313537597656, 0...  ...  8589934592

[1 rows x 7 columns]

# Classify 6 Questions

In [ ]:
nlu.load('en.classify.trec6').predict('Where is the next food store?')

classifierdl_use_trec6 download started this may take some time.
Approximate size to download 21.4 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [-0.05699703469872475, 0.039651867002248764, -...  ...  8589934592

[1 rows x 11 columns]

# Classify 50 Questions

In [ ]:
nlu.load('en.classify.trec50').predict('How expensive is the Watch?')

classifierdl_use_trec50 download started this may take some time.
Approximate size to download 21.2 MB
[OK!]
tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

                                 sentence_embeddings  ...          id
0  [0.051809534430503845, 0.03128402680158615, -0...  ...  8589934592

[1 rows x 55 columns]

# Output Level demonstration

## Token level output

In [ ]:
nlu.load('sentiment').predict(['I love data science! It is so much fun! It can also be quite helpful to people.', 'I love the city New-York'], output_level='token', output_positions=True)

analyze_sentiment download started this may take some time.
Approx size to download 4.9 MB
[OK!]

     checked  checked_begin  ...  sentiment_end                       sentiment
0          I              0  ...   [19, 38, 78]  [positive, positive, positive]
1       love              2  ...   [19, 38, 78]  [positive, positive, positive]
2       data              7  ...   [19, 38, 78]  [positive, positive, positive]
3    science             12  ...   [19, 38, 78]  [positive, positive, positive]
4          !             19  ...   [19, 38, 78]  [positive, positive, positive]
5         It             21  ...   [19, 38, 78]  [positive, positive, positive]
6         is             24  ...   [19, 38, 78]  [positive, positive, positive]
7         so             27  ...   [19, 38, 78]  [positive, positive, positive]
8       much             30  ...   [19, 38, 78]  [positive, positive, positive]
9        fun             35  ...   [19, 38, 78]  [positive, positive, positive]
10         !             38  ...   [19, 38, 78]  [positive, positive, positive]
11        It             40  ...   [19, 38, 78]  [positive, positive, positive]
12       can             43  ...   [19, 38, 78]  [positive, positive, positive]
13      also             47  ...   [19, 38, 78]  [positive, positive, positive]
14        be             52  ...   [19, 38, 78]  [positive, positive, positive]
15     quite             55  ...   [19, 38, 78]  [positive, positive, positive]
16   helpful             61  ...   [19, 38, 78]  [positive, positive, positive]
17        to             69  ...   [19, 38, 78]  [positive, positive, positive]
18    people             72  ...   [19, 38, 78]  [positive, positive, positive]
19         .             78  ...   [19, 38, 78]  [positive, positive, positive]
20         I              0  ...           [23]                      [positive]
21      love              2  ...           [23]                      [positive]
22       the              7  ...           [23]                      [positive]
23      city             11  ...           [23]                      [positive]
24  New-York             16  ...           [23]                      [positive]

[25 rows x 13 columns]

In [ ]:
nlu.load('sentiment').predict(['I love data science! It is so much fun! It can also be quite helpful to people.', 'I love the city New-York'], output_level='chunk')

AttributeError: ignored

## Sentence level output

In [ ]:
nlu.load('sentiment').predict(['I love data science! It is so much fun! It can also be quite helpful to people.', 'I love the city New-York'], output_level='sentence', output_positions=True)

analyze_sentiment download started this may take some time.
Approx size to download 4.9 MB
[OK!]

  sentiment_confidence  ...                                            checked
0               0.7540  ...  [I, love, data, science, !, It, is, so, much, ...
1               0.6121  ...  [I, love, data, science, !, It, is, so, much, ...
2               0.4895  ...  [I, love, data, science, !, It, is, so, much, ...
3               0.7342  ...                     [I, love, the, city, New-York]

[4 rows x 13 columns]

## Document level output

In [ ]:
nlu.load('sentiment').predict(['I love data science! It is so much fun! It can also be quite helpful to people.', 'I love the city New-York'], output_level='document',)

analyze_sentiment download started this may take some time.
Approx size to download 4.9 MB
[OK!]

                                            document  ...                                            checked
0  I love data science! It is so much fun! It can...  ...  [I, love, data, science, !, It, is, so, much, ...
1                           I love the city New-York  ...                     [I, love, the, city, New-York]

[2 rows x 5 columns]

## Chunk level output

In [ ]:
# Work in progress